<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ name | title }} Profile</title>

    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/chat.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-primary sticky-top">
        <a class="navbar-brand" href='/'>Thoughtful Therapist</a>
    </nav>
    <div class="container">

        <div class="jumbotron">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/therapist/client/all">All Clients</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ name | title }}</li>
                </ol>
            </nav>
            <h1 class="display-4">{{ name | title }}</h1>
            <p class="lead">
                <div class="row">
                    <ul class="list-group w-100 mb-2">
                        <li class="list-group-item d-flex justify-content-between align-items-center
                            {{ 'list-group-item-danger' if average_sentiment < 0.6 else
                                'list-group-item-warning' if average_sentiment < 0.7
                                else 'list-group-item-success'
                            }}">
                            Average Overall Happiness Level
                            <span class="badge badge-primary badge-pill">
                                {{ "%0.1f" | format(average_sentiment*100) }}%
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Number of Sessions
                            <span class="badge badge-primary badge-pill">
                                {{ session_sentiments | length }}
                            </span>
                        </li>
                    </ul>
                </div>
            </p>
            <hr class="my-4">
            <div class="row">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        {% for session in session_sentiments | sort(attribute='end') %}
                        <a id="list-{{session.sessionID}}" class="list-group-item list-group-item-action
                            {{ 'list-group-item-danger' if session.averageSentiment < 0.6 else
                                'list-group-item-warning' if session.averageSentiment < 0.7
                                else 'list-group-item-success'
                            }}" data-toggle="list" href="#{{ session.sessionID }}" role="tab"
                            aria-controls="home">Session {{ loop.index }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="nav-tabContent">
                        {% for session in session_sentiments %}
                        <div class="tab-pane fade show" id="{{ session.sessionID }}" role="tabpanel"
                            aria-labelledby="list-{{ session.sessionID }}">
                            <div class="row">
                                <ul class="list-group w-100 mb-2">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Start Time
                                        <span class="badge badge-primary badge-pill">
                                            {{ session.start | human_readable }}
                                        </span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Start Time
                                        <span class="badge badge-primary badge-pill">
                                            {{ session.end | human_readable }}
                                        </span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Average Happiness Level
                                        <span class="badge badge-primary badge-pill">
                                            {{ "%0.1f"| format(session.averageSentiment*100) }}%
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <hr class="my-4">
                            {% for m in messages | selectattr('sessionID', 'equalto', session.sessionID) | sort(attribute='time') %}
                            <div class="row p-2">
                                <div class="col-7 message {{ 'bot-light' if m.senderID == 'b11f6ede-11c7-4705-92cb-d92785903f3d' else 'user ml-auto'}}">
                                    <p>
                                        {{ m.message }}
                                    </p>
                                    <p class="font-weight-light text-right">
                                        {{ m.time | human_readable }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>