<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thoughtful Therapy</title>

  <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Thoughtful Therapy</h5>
          <p class="card-text">Your personal chatbot to help you get through the day!</p>
          <a class="btn btn-secondary" href="/register">Register</a>
          <a class="btn btn-primary" href="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>