<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Client Register</title>

    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/node_modules/js-sha256/build/sha256.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary sticky-top">
        <a class="navbar-brand" href='/'>Thoughtful Therapist</a>
    </nav>
    <div class="container">
        <form id="register" class="card text-center">
            <div class="card-header">
                Register
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                    </div>
                    <input id="name" type="text" class="form-control" placeholder="Full Name" aria-label="Full Name"
                        aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">Username</span>
                    </div>
                    <input id="username" type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon2" aria-required="true">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Password</span>
                    </div>
                    <input id="password" type="password" class="form-control" placeholder="Password"
                        aria-label="Password" aria-describedby="basic-addon3" required>
                </div>
            </div>
            <div class="card-footer text-muted">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>
    </div>

    <!-- PUT ALERT HERE LATER FOR MISSING PARAMS -->

    <script src="/static/js/register.js"></script>

</body>

</html>